:root {
    --primary-color: #0072BC;
    --secondary-color: #797979;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.2;
    margin: auto;
    max-width: 1400px;
    width: 100%;
}

header {
    align-items: center;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    width: 100%;
}

.logo {
    height: 4rem;
    width: auto;
}

.btn.contrast {
    background-color: transparent;
    border: .15rem solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    padding: .5rem .75rem;
    transition: all .6s ease-in-out;
}

.btn.contrast:hover,
.btn.contrast:active,
.btn.contrast:focus-within {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn.contrast.increased {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.btn.contrast.increased:hover,
.btn.contrast.increased:active,
.btn.contrast.increased:focus-within {
    background-color: transparent;
    color: #000;
}

main {
    padding: 1.5rem 3rem;
    width: 100%;
}

h1,
h2,
p,
code {
    margin-bottom: 2rem;
}

h1 + p,
h2 + p {
    margin-top: -1.5rem;
}

h3 {
    margin-bottom: .5rem;
}

code {
    background-color: var(--secondary-color);
    color: #fff;
    display: block;
    padding: 1rem;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1.5rem 3rem;
    width: 100%;
}